* {
    margin:0px;
    padding:0px;
    border:none;
    outline:none;
    transition: 0.4s ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
body {
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    min-height: 100vh;
    font-size: 0.8em;
    line-height: 1.75em;
    font-weight: 400;
    /*color: #666;*/
}
.trans-logo {
	max-height: 200px;
	margin-top: -10px;
}
section.intro {
	min-height: 80vh;
	background:
		linear-gradient(rgba(31, 33, 51, 0.4), rgba(11, 13, 35, 0.4)),
		url('../imgs/bg-1.jpg') center/cover fixed no-repeat;
}
section.intro .intro-text{
	border-left: 2px solid #fff
	
}
section.intro .white-service-box{
	color: #000;
	background-color: #fff;
	box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);

}
section.intro .orange-service-box{
	color: #fff;
	background-color: #FF450C;
	box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);

}
.def-bg-orange {
	background-color: #FF450C;
	color: #fff !important;
}
.page-wrapper {
	height: 100vh;
	width: 100%;
}
.tiny-svg {
	height: 20px;
	width: 13px;
	align-self: center;

}
div.intro-text {
}
.nav-link {
	text-transform: uppercase;
	font-size: 0.9em;
}
.nav-link:hover {
	border-bottom: 2px solid #FF450C;
    transition: all 200ms ease-in-out;
}
.emphasis {
    font-weight: bold;
    color: #000;
}
ul {
    list-style-type: none;
}
a {
    color: #000;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
a:hover,
a:active,
a:focus {
    color: #000;
    outline: none;
    text-decoration: none !important;
}
a:link {
    text-decoration: none;
}
a:focus {
    outline: none;
}
.navbar {
	z-index: 9999999;
}
section.intro footer{
	position: absolute;
	bottom: -140px;
}  
.white-service-box,.orange-service-box {
	cursor: pointer;
}
.white-service-box:hover {
	border-bottom: 2px solid #FF450C;
}
.book-room-li {
	color: white;
	border-bottom: transparent;


}
.book-room-li:hover {
	border-bottom: transparent;
}
.orange-service-box:hover {
	border-bottom: 2px solid #fff;
}
@media screen and (min-width:400px) {
  
}
@media screen and (min-width:576px) {
	section.intro footer{
		position: absolute;
		bottom: -2rem;
	}   
	section.intro .white-service-box{
		margin-bottom: -2rem;
	}
	section.intro .orange-service-box{
		margin-bottom: -2rem;
	}
}
@media screen and (min-width:768px) {
     
}
@media screen and (min-width:992px) {

}   
@media screen and (min-width:1200px) {
     
}
