[submodule "four-card-feature-section-master"]
	path = four-card-feature-section-master
	url = git@github.com:belovetech/four-card-feature-section-master.git
[submodule "Belovedofficial"]
	path = Belovedofficial
	url = git@github.com:belovetech/Belovedofficial.git
